[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/swps
[access "refs/for/refs/*"]
	read = group user/swps
	push = group user/swps
	label-Code-Review = -2..+2 group user/swps
	label-Verified = -1..+1 group user/swps
	rebase = group user/swps
	removeReviewer = group user/swps
	submit = group user/swps
[access "refs/heads/*"]
	read = group user/swps
	create = group user/swps
	push = +force group user/swps
	pushMerge = group user/swps
[access "refs/tags/*"]
	push = +force group user/swps
	pushTag = group user/swps
	pushSignedTag = group user/swps
